.code_cell .prompt.input_prompt {
border-left: 5px solid #e1e4e5;
/* padding: 0px 16px 0px 10px; */
overflow-x: auto;
background: #fff;
margin: 0;
margin-left: 12px;
margin-top:-12px;
margin-bottom: 4px;
padding: 6px 0px 2px 12px;
font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
font-size: 12px;
line-height: 1.0;
display: none;
overflow: auto;
color: #404040;
}

.code_cell .prompt.output_prompt {
border-left: 5px solid #e1e4e5;
/* padding: 0px 16px 0px 10px; */
overflow-x: auto;
background: #fff;
margin: 0;
margin-left: 12px;
margin-top: 0px;
margin-bottom: 4px;
padding: 6px 0px 2px 12px;
font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
font-size: 12px;
line-height: 1.0;
display: none;
overflow: auto;
color: #404040;
}

.input_area pre {
    margin-left: 0em;
    background: #f6f6f6;
    margin-bottom: 0px;
    /*border-left: solid 4px #e1e4e5;*/
    /*border-top: solid 1px #e1e4e5;*/
    /*border-bottom: solid 1px #e1e4e5;*/
    padding-left: 1em;
}

.output_area pre {
    margin-left: 0em;
    padding-left: 1em;
    background-color: white;
    margin-top: 0px;
    border-bottom: solid 1px #e1e4e5;
}

pre, code {
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
max-width: 100%;
padding: 8px 8px 4px 8px;
background: #f6f6f6;
font-size: 12px;
font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
color:#404040;
overflow-x: auto;
font-weight: normal;
line-height: 1.4;
}

div[class^='highlight'] {
border: 0 solid #e1e4e5;
padding: 0px;
overflow-x: auto;
background: #fff;
margin: 0px 0 20x 0;
}

code {
white-space: nowrap;
max-width: 100%;
background: #f6f6f6;
border-bottom: solid 1px #e1e4e5;
font-size: 85%;
padding: 2px 4px 2px 4px;
margin: 2px;
/* font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace; */



/* font-family: Courier; */
font-weight: normal;
/*font-variant: small-caps;*/
color:#404040;
overflow-x: auto;
/* font-weight: bold; */
}

#notebook:focus {
outline-width: 0px;
}

.dataframe {
    margin-left:auto;
    margin-right:auto;
}

.output_subarea {
    margin : 0px 0px 12px 0px;
}

.output_svg, .output_png {
    text-align: center;
    max-height: 640px;
    overflow: auto;
}

.output_text {
    text-align: left;
}


.output_pyout {
    font-size: 12px;
}

.dataframe td, .dataframe th {
    padding: 3px;
    font-size: 12px;
}

.input {
    margin-top:12px;
}

img {
width:auto;
}

/* Browser specific (not valid) styles to make preformatted text wrap */

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.cell.border-box-sizing.code_cell {
    margin-bottom: 0.5em;
}

.ipynotebook p {
    margin-bottom: 12px;
}

.output_html {
    overflow: auto;
}

.output_html td, .output_html th {
    white-space: nowrap;
}

.output_html table {
    margin: 0.5em;
}